*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.front-view{
    display: flex;
    flex-direction: column;
}
.front-img{
    background-image: url(Images/images....jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 85dvh;
    margin-top: -20px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.left{
    width: 40%;
    padding: 2rem;
}
.right{ 
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 2.3rem;
}
.top-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1.2rem;
    margin-bottom: -70px;
}
.top-right a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(69, 68, 68);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.bot-right{
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;

}
.bot-right input{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(215, 213, 209);
    padding: 6px;
}
.bot-right input:focus{
    border: 1.5px solid rgb(102, 102, 102);
}
.fa-magnifying-glass{
    color: #343639;
}
.nav{
    background-color: #b5121b;
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 2.3rem;
    position: sticky;
    z-index: 500;
    top: 0;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.front-desc{
    background-color: black;
    color: white;
    height: 10rem;
    margin-top: -55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5rem;
}
.front-desc p{
    font-size: 14px;
    text-align: center;
}
.front-desc a{
    text-decoration: none;
    font-size: 14px;
    background-color: #b5121b;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s all ease-in;
}
.front-desc a:hover{
    background-color: #222;
}
.bot-head h2{
    flex-direction: column;
    margin: 30px 30px;
    color:#4b4b4b;
    font-size: 36px;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
    letter-spacing: 1.2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bot-para{
    padding-bottom: 5rem;
    margin: 30px;
    display: flex;
}
.bot-para a{
    text-decoration: none;
    font-size: 14px;
    background-color: #b5121b;
    color: white;
    padding: 1.3rem 3rem;
    border-radius: 8px;
    margin-left: 50px;
    cursor: pointer;
    transition: 0.25s all ease-in;
}
.bot-para a:hover{
    background-color: #222;
}
.programmes{
    background-color: #efefef;
    color: #4b4b4b;
    padding: 2rem 0rem;
    height: 110dvh;
}
.prog-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #efefef;
    flex-flow: wrap;
    justify-content: space-around;
}
.prog-items div{
    width: 18%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 10px;
}
.prog-items div img{
    width: 100%;
    height: 120px;
}
.prog-items div a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: larger;
    padding: 0rem 1rem;
    transition: 0.3s all ease;
}
.prog-items div a:hover{
    text-decoration: underline;
}